<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RectaCarga</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/BJT_NPN_symbol_%28case%2C_unlabelled%29.svg/2048px-BJT_NPN_symbol_%28case%2C_unlabelled%29.svg.png">    
    <link rel="stylesheet" href="./css/rectacarga.css"
</head>
<body>
    <canvas id="canvas"></canvas>
    
    <script src="js/HFECanvas.js"></script>
    <script src="js/rectacarga.js"></script>
</body>
</html>