html, body {
    margin:0px;
    padding:0px;
    background-color: #000;
    font-family: arial;
  }
  canvas {
    width: 700px;
    height:700px;
    background-color: #1e272e;
  }
.form-control {
  padding: 10px;
}

.inp_title {
    color: #ccc;
    display: block;
}

.form-control input {
  padding: 5px;
  background-color: #888;
  border: 0px;
  border-radius: 3px;
  margin-bottom: 10px;
}

